@font-face {
    font-family: "BigBlueTerm";
    src: url("./fonts/BigBlueTerm/BigBlueTerm437NerdFont-Regular.ttf") format("truetype");
}

* {
    font-family: "BigBlueTerm";
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}
