.todo-logo {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}

.todo-logo img {
    width: 100%;
    height: 100%;
    background-color: black;
}

#sidebar,
#sidebar button {
    background-color: beige;
}

#sidebar {
    display: flex;
    flex: 1 1 auto;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 12px;
}

#sidebar>* {
    margin-top: 1rem;
    margin-left: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    color: black;
}

#sidebar> :nth-child(2) {
    font-size: 2rem;
    color: orangered;
    font-weight: bold;
}

.sidebar-project-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.sidebar-project-container button {
    text-align: left;
    font-size: 1.5rem;
    color: dimgrey;
}
