* {
    border: solid red;
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    min-height: 100dvh;
}

button:hover {
    text-decoration: underline;
    opacity: 80%;
    cursor: pointer;
}
