.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    border: solid green;
    align-items: center;
    height: 100vh;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: solid red;
    gap: 0;
    aspect-ratio: 1 / 1;
}

.board-square {
    display: flex;
    height: 100%;
    aspect-ratio: 1 / 1;
    border: solid black;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}
